Fraud_Detection_PbC.json
{"flowContents":{"identifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Fraud_Detection_PbC","comments":"","position":{"x":-131.0,"y":365.0},"processGroups":[{"identifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"Generators","comments":"","position":{"x":1608.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b99a95d3-5cf7-366c-823b-7cd0b8dd7516","name":"HandleHttpRequest","comments":"","position":{"x":1224.0,"y":280.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"accff7c5-ec6e-34fa-81c4-198ab2d3baaa","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"5000","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"071913a1-0596-3699-adc9-8da339e160d8","name":"HandleHttpResponse","comments":"","position":{"x":1224.0,"y":680.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"accff7c5-ec6e-34fa-81c4-198ab2d3baaa","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"ef9f4e49-c7c3-3bf4-ae8b-4dba8b7f8d9e","name":"ReplaceText","comments":"","position":{"x":1224.0,"y":480.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"fraud_score\": 0.${random()}}","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"1463d8c5-38be-3c80-b94c-ea3996d863ea","name":"PutTCP","comments":"","position":{"x":704.0,"y":480.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutTCP","properties":{"Idle Connection Expiration":"15 seconds","Outgoing Message Delimiter":"\\n","Max Size of Socket Send Buffer":"1 MB","SSL Context Service":null,"Timeout":"10 seconds","Port":"#{input.port}","Hostname":"#{input.host}","Connection Per FlowFile":"true","Character Set":"UTF-8"},"propertyDescriptors":{"Idle Connection Expiration":{"name":"Idle Connection Expiration","displayName":"Idle Connection Expiration","identifiesControllerService":false,"sensitive":false},"Outgoing Message Delimiter":{"name":"Outgoing Message Delimiter","displayName":"Outgoing Message Delimiter","identifiesControllerService":false,"sensitive":false},"Max Size of Socket Send Buffer":{"name":"Max Size of Socket Send Buffer","displayName":"Max Size of Socket Send Buffer","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Connection Per FlowFile":{"name":"Connection Per FlowFile","displayName":"Connection Per FlowFile","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"daba0c86-e62b-3c33-9f0a-9f8ebbcbc4b6","name":"Generate Transaction Data","comments":"","position":{"x":704.0,"y":280.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.script.InvokeScriptedProcessor","properties":{"Script File":null,"fraud-freq-max":"15","cities":"[\n  {\n    \"city\": \"Melbourne\", \n    \"lon\": 144.904883, \n    \"lat\": -37.7944514\n  }, \n  {\n    \"city\": \"Sydney\", \n    \"lon\": 150.8851715, \n    \"lat\": -33.7761271\n  }, \n  {\n    \"city\": \"Perth\", \n    \"lon\": 115.8214564, \n    \"lat\": -32.0396959\n  }, \n  {\n    \"city\": \"Canberra\", \n    \"lon\": 149.1270107, \n    \"lat\": -35.2813003\n  }, \n  {\n    \"city\": \"Brisbane\", \n    \"lon\": 152.8531169, \n    \"lat\": -27.3817681\n  }, \n  {\n    \"city\": \"Adelaide\", \n    \"lon\": 138.4710808, \n    \"lat\": -35.0004053\n  }, \n  {\n    \"city\": \"Auckland\", \n    \"lon\": 174.6360824, \n    \"lat\": -36.859653\n  }, \n  {\n    \"city\": \"Wellington\", \n    \"lon\": 174.8563103, \n    \"lat\": -41.2730169\n  }, \n  {\n    \"city\": \"Christchurch\", \n    \"lon\": 172.5130723, \n    \"lat\": -43.5510444\n  }, \n  {\n    \"city\": \"Queenstown\", \n    \"lon\": 168.6647798, \n    \"lat\": -44.9967799\n  }\n]","Script Engine":"python","Script Body":"import json\nimport math\nimport random\nimport sys\nimport time\nimport uuid\nfrom datetime import datetime, timedelta\nfrom java.lang import Throwable\nfrom org.apache.nifi.components import PropertyDescriptor\nfrom org.apache.nifi.processor import Processor, Relationship\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nfrom org.apache.nifi.processor.util import StandardValidators\nfrom org.python.core import PySet\nfrom org.apache.nifi.components import ValidationResult\n\nCITIES_DEFAULT = [\n    {'lat': -37.7944514, 'lon': 144.904883, 'city': 'Melbourne'},\n    {'lat': -33.7761271, 'lon': 150.8851715, 'city': 'Sydney'},\n    {'lat': -32.0396959, 'lon': 115.8214564, 'city': 'Perth'},\n    {'lat': -35.2813003, 'lon': 149.1270107, 'city': 'Canberra'},\n    {'lat': -27.3817681, 'lon': 152.8531169, 'city': 'Brisbane'},\n    {'lat': -35.0004053, 'lon': 138.4710808, 'city': 'Adelaide'},\n    {'lat': -36.859653, 'lon': 174.6360824, 'city': 'Auckland'},\n    {'lat': -41.2730169, 'lon': 174.8563103, 'city': 'Wellington'},\n    {'lat': -43.5510444, 'lon': 172.5130723, 'city': 'Christchurch'},\n    {'lat': -44.9967799, 'lon': 168.6647798, 'city': 'Queenstown'},\n]\n\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n  def __init__(self, content=None):\n      self._content = content\n\n  def process(self, outputStream):\n      outputStream.write(bytearray(self._content.encode('utf-8')))\n\n  def content(self, content):\n      self._content = content\n      return self\n\n\nclass FraudGeneratorProcessor(Processor):\n    PROP_FRAUD_FREQ_MIN = (PropertyDescriptor.Builder()\n        .name('fraud-freq-min')\n        .displayName('Fraud frequency minimum (ticks)')\n        .description('Lower bound for the range of fraud frequency.')\n        .expressionLanguageSupported(True)\n        .required(True)\n        .defaultValue('5')\n        .addValidator(StandardValidators.NUMBER_VALIDATOR)\n        .build())\n    PROP_FRAUD_FREQ_MAX = (PropertyDescriptor.Builder()\n        .name('fraud-freq-max')\n        .displayName('Fraud frequency maximum (ticks)')\n        .description('Upper bound for the range of fraud frequency.')\n        .expressionLanguageSupported(True)\n        .required(True)\n        .defaultValue('15')\n        .addValidator(StandardValidators.NUMBER_VALIDATOR)\n        .build())\n    PROP_CITIES = (PropertyDescriptor.Builder()\n        .name('cities')\n        .displayName('Cities')\n        .description('List of cities in JSON format. Each city is an object with the following attributes: lat, lon, city.')\n        .expressionLanguageSupported(True)\n        .required(True)\n        .defaultValue(json.dumps(CITIES_DEFAULT, indent=2))\n        .addValidator(StandardValidators.NON_EMPTY_VALIDATOR)\n        .build())\n\n    def __init__(self):\n        self.REL_SUCCESS = Relationship.Builder().name('success').description('FlowFiles that were successfully processed').build()\n        self.log = None\n        self.out = None\n        self.cities = None\n        self.fraud_countdown = None\n\n    def initialize(self, context):\n        self.log = context.getLogger()\n        self.out = PyOutputStreamCallback()\n\n    def getRelationships(self):\n        return PySet([self.REL_SUCCESS])\n\n    def validate(self, context):\n        try:\n            json.loads(context.getProperty(self.PROP_CITIES).getValue())\n        except Exception as exc:\n            error = (ValidationResult.Builder()\n                .subject('Cities')\n                .valid(False)\n                .explanation('it is not a valid JSON')\n                .build())\n            return [error]\n        return None\n\n    def getPropertyDescriptors(self):\n        return [self.PROP_CITIES, self.PROP_FRAUD_FREQ_MIN, self.PROP_FRAUD_FREQ_MAX]\n\n    def onPropertyModified(self, descriptor, oldValue, newValue):\n        pass\n\n    def getIdentifier(self):\n        return None\n\n    def onTrigger(self, context, sessionFactory):\n        session = sessionFactory.createSession()\n        self.cities = self._get_cities(context)\n        self._update_fraud_countdown(context)\n        try:\n            tx = self._create_transaction()\n            self._send_transaction(session, tx)\n            if self._should_generate_fraud():\n                fraud_tx = self._create_transaction(tx, random.randint(60,600))\n                self._send_transaction(session, fraud_tx)\n            session.commit()\n        except Throwable, t:\n            self.log.error('{} failed to process due to {}; rolling back session', [self, t])\n            session.rollback(true)\n            raise t\n\n    def _send_transaction(self, session, tx):\n        flowfile = session.create()\n        flowfile = session.putAttribute(flowfile, 'fraud_countdown', str(self.fraud_countdown))\n        flowfile = session.write(flowfile, self.out.content(json.dumps(tx)))\n        session.transfer(flowfile, self.REL_SUCCESS)\n\n    def _create_random_point(self, x0, y0, distance):\n        r = distance/111300\n        u = random.random()\n        v = random.random()\n        w = r * math.sqrt(u)\n        t = 2 * math.pi * v\n        x = w * math.cos(t)\n        x1 = x / math.cos(y0)\n        y = w * math.sin(t)\n        return (x0+x1, y0 +y)\n\n    def _create_geopoint(self, lat, lon):\n        return self._create_random_point(lat, lon, 50000)\n\n    def _get_latlon(self):\n        geo = random.choice(self.cities)\n        return self._create_geopoint(geo['lat'], geo['lon'])\n\n    def _create_transaction(self, orig_tx=None, delta_secs=0):\n        \"\"\"Creates a single financial transaction using the following\n        \"\"\"\n        latlon = self._get_latlon()\n        ts = (datetime.now() - timedelta(seconds=delta_secs)).strftime('%Y-%m-%d %H:%M:%S')\n        return {\n          'ts': ts,\n          'account_id': orig_tx['account_id'] if orig_tx else str(random.randint(1, 1000)),\n          'transaction_id': ('xxx' + orig_tx['transaction_id']) if orig_tx else str(uuid.uuid1()),\n          'amount': random.randrange(1,2000),\n          'lat': latlon[0],\n          'lon': latlon[1]\n        }\n\n    def _create_fraudtran(self, tx, delta_time):\n        \"\"\"Creates a single fraudulent financial transaction\n        Note: the fraudulent transaction will have the same account ID as\n        the original transaction but different location and ammount.\n        \"\"\"\n        latlon = get_latlon()\n        tsbis = str((datetime.now() - timedelta(seconds=random.randint(60,600))).strftime('%Y-%m-%d %H:%M:%S '))\n\n        fraudtran = {\n          'ts' : tsbis,\n          'account_id' : fintran['account_id'],\n          'transaction_id' : 'xxx' + str(fintran['transaction_id']),\n          'amount' : random.randrange(1,2000),\n          'lat' : latlon[0],\n          'lon' : latlon[1]\n        }\n        return (fraudtran)\n\n    def _update_fraud_countdown(self, context):\n        if self.fraud_countdown is None or self.fraud_countdown <= 0:\n            freq_min = int(context.getProperty('fraud-freq-min').getValue())\n            freq_max = int(context.getProperty('fraud-freq-max').getValue())\n            self.fraud_countdown = random.randint(freq_min, freq_max)\n        elif self.fraud_countdown > 0:\n            self.fraud_countdown -= 1\n\n    def _should_generate_fraud(self):\n        return self.fraud_countdown <= 0\n\n    def _get_cities(self, context):\n        cities = context.getProperty('cities').getValue()\n        return json.loads(cities)\n\n\nprocessor = FraudGeneratorProcessor()","fraud-freq-min":"5","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"fraud-freq-max":{"name":"fraud-freq-max","displayName":"Fraud frequency maximum (ticks)","identifiesControllerService":false,"sensitive":false},"cities":{"name":"cities","displayName":"Cities","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"fraud-freq-min":{"name":"fraud-freq-min","displayName":"Fraud frequency minimum (ticks)","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"17a3b331-5446-30a9-ba3f-3e08ff2bd5f3","name":"","source":{"id":"daba0c86-e62b-3c33-9f0a-9f8ebbcbc4b6","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"Generate Transaction Data","comments":""},"destination":{"id":"1463d8c5-38be-3c80-b94c-ea3996d863ea","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"PutTCP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"82638776-c7e2-3f45-af3a-503d79a5a236","name":"","source":{"id":"b99a95d3-5cf7-366c-823b-7cd0b8dd7516","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"HandleHttpRequest","comments":""},"destination":{"id":"ef9f4e49-c7c3-3bf4-ae8b-4dba8b7f8d9e","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"},{"identifier":"64833167-930b-304e-855f-5c900acfa665","name":"","source":{"id":"ef9f4e49-c7c3-3bf4-ae8b-4dba8b7f8d9e","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"ReplaceText","comments":""},"destination":{"id":"071913a1-0596-3699-adc9-8da339e160d8","type":"PROCESSOR","groupId":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"accff7c5-ec6e-34fa-81c4-198ab2d3baaa","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"a0a3791a-d7e0-350a-8e0c-4118c7c04b13"}],"variables":{},"parameterContextName":"fraud_detection_params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"}],"remoteProcessGroups":[],"processors":[{"identifier":"237e9daf-af2b-366a-9877-17d785da5133","name":"ListenTCP","comments":"","position":{"x":768.0,"y":400.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.ListenTCP","properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":null,"Max Batch Size":"1","Port":"#{input.port}","max-receiving-threads":null,"Receive Buffer Size":"65507 B","Message Delimiter":"\\n","SSL Context Service":null,"Character Set":"UTF-8","Client Auth":"REQUIRED","Max Size of Message Queue":"10000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of TCP Connections","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"max-receiving-threads":{"name":"max-receiving-threads","displayName":"Max Number of Receiving Message Handler Threads","identifiesControllerService":false,"sensitive":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"c085d7a6-bbe1-30bb-8b79-f54d614b161d","name":"Publish to Kafka topic: transactions","comments":"","position":{"x":560.0,"y":1176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"d1862610-fa14-3f52-879c-8751838ccf70","bootstrap.servers":"#{kafka.brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"#{kafka.sasl.mechanism}","max.block.ms":"5 sec","record-reader":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{workload.user}","use-transactions":"false","acks":"0","security.protocol":"#{kafka.security.protocol}","ssl.context.service":"844757ac-d5f0-35a3-b81e-f0763281da0d","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{transaction_topic}","sasl.password":"#{workload.password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"47913f33-6122-38ec-ba8c-5373cb41d837","name":"LogAttribute","comments":"","position":{"x":392.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"d9a3a116-d44a-3b89-b8e8-0146c40ebdd6","name":"Predict machine health","comments":"","position":{"x":768.0,"y":776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.LookupRecord","properties":{"result-contents":"insert-entire-record","request.body":"concat('{\"request\":{\"feature\":\"', /ts, ', ', /account_id, ', ', /transaction_id, ', ', /amount, ', ', /lat, ', ', /lon, '\"}}')","routing-strategy":"route-to-success","result-record-path":"/model_response","record-writer":"d1862610-fa14-3f52-879c-8751838ccf70","request.method":"toString('post', 'UTF-8')","record-reader":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","lookup-service":"7ca44c0f-9b96-3340-8cfc-b0026b20e776","record-update-strategy":"use-property","mime.type":"toString('application/json', 'UTF-8')"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"request.body":{"name":"request.body","displayName":"request.body","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"request.method":{"name":"request.method","displayName":"request.method","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"81dc4bcd-183d-3dc3-9932-660acb61f0a6","name":"Publish to Kafka topic: fraud_suspects","comments":"","position":{"x":1160.0,"y":776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"d1862610-fa14-3f52-879c-8751838ccf70","bootstrap.servers":"#{kafka.brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"#{kafka.sasl.mechanism}","max.block.ms":"5 sec","record-reader":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{workload.user}","use-transactions":"false","acks":"0","security.protocol":"#{kafka.security.protocol}","ssl.context.service":"844757ac-d5f0-35a3-b81e-f0763281da0d","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{fraud_topic}","sasl.password":"#{workload.password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"5830e16f-5763-3cb5-9e31-609bf03c5baf","name":"Check Model Score","comments":"","position":{"x":768.0,"y":968.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"flattened":"select\n  ts,\n  account_id,\n  transaction_id,\n  amount,\n  lat,\n  lon,\n  RPATH(model_response, '/fraud_score') as fraud_score\nfrom flowfile\n","cache-schema":"true","dbf-default-precision":"10","to_kudu":"select\n  ts,\n  account_id as acc_id,\n  transaction_id,\n  amount,\n  lat,\n  lon,\n  RPATH(model_response, '/fraud_score') as fraud_score\nfrom flowfile\n","record-writer":"d5f44417-37cc-3e5d-a1ee-1140314e46ea","likely_fraud":"select\n  ts,\n  account_id,\n  transaction_id,\n  amount,\n  lat,\n  lon,\n  RPATH(model_response, '/fraud_score') as fraud_score\nfrom flowfile\nwhere RPATH(model_response, '/fraud_score') > 0.90","record-reader":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"flattened":{"name":"flattened","displayName":"flattened","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"to_kudu":{"name":"to_kudu","displayName":"to_kudu","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"likely_fraud":{"name":"likely_fraud","displayName":"likely_fraud","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"6453d046-01ce-3a82-890d-6016be17544b","name":"Set Schema Name","comments":"","position":{"x":768.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"#{schema.name}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"dc2b2c68-8ba3-3016-bf39-25bc7b451225","name":"Write to Kudu","comments":"","position":{"x":984.0,"y":1176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"#{transaction_table}","kerberos-password":"#{workload.password}","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":"#{workload.user}","Lowercase Field Names":"false","Insert Operation":"UPSERT","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"#{kudu.master}","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"3c5af30c-52ba-3a2d-98a1-ef957aca93e2","worker-count":"32","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5ae0f05f-6178-3704-b429-d7eeadc0e098","name":"kafka_transactions_failures","source":{"id":"c085d7a6-bbe1-30bb-8b79-f54d614b161d","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: transactions","comments":""},"destination":{"id":"c085d7a6-bbe1-30bb-8b79-f54d614b161d","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: transactions","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":768.0,"y":1392.0},{"x":736.0,"y":1392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"5ca827a2-d6dc-3935-8070-9e6dae592aeb","name":"","source":{"id":"5830e16f-5763-3cb5-9e31-609bf03c5baf","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Check Model Score","comments":""},"destination":{"id":"dc2b2c68-8ba3-3016-bf39-25bc7b451225","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Write to Kudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["to_kudu"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":944.0,"y":1136.0},{"x":1160.0,"y":1136.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"9ce1a951-9ed2-3b76-89c9-1306d7be7e11","name":"kafka_frauds_failures","source":{"id":"81dc4bcd-183d-3dc3-9932-660acb61f0a6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: fraud_suspects","comments":""},"destination":{"id":"81dc4bcd-183d-3dc3-9932-660acb61f0a6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: fraud_suspects","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1360.0,"y":704.0},{"x":1336.0,"y":704.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"42af9702-3812-3173-a426-195abb5ad1b7","name":"before_lookup","source":{"id":"6453d046-01ce-3a82-890d-6016be17544b","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Set Schema Name","comments":""},"destination":{"id":"d9a3a116-d44a-3b89-b8e8-0146c40ebdd6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Predict machine health","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"b085e7bd-9089-393e-b9c8-238e071d88e9","name":"","source":{"id":"237e9daf-af2b-366a-9877-17d785da5133","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"ListenTCP","comments":""},"destination":{"id":"6453d046-01ce-3a82-890d-6016be17544b","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Set Schema Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"e8ea1c1c-b8fa-384e-a10a-f8607c038977","name":"kudu_failures","source":{"id":"dc2b2c68-8ba3-3016-bf39-25bc7b451225","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Write to Kudu","comments":""},"destination":{"id":"dc2b2c68-8ba3-3016-bf39-25bc7b451225","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Write to Kudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1192.0,"y":1392.0},{"x":1160.0,"y":1392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"1d0a0ab2-b975-3671-bfd9-08a7ae19ac1d","name":"","source":{"id":"5830e16f-5763-3cb5-9e31-609bf03c5baf","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Check Model Score","comments":""},"destination":{"id":"c085d7a6-bbe1-30bb-8b79-f54d614b161d","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: transactions","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["flattened"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":944.0,"y":1136.0},{"x":736.0,"y":1136.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"d49c2fff-f6b2-3fde-b65c-89ac2e66df63","name":"query_failure","source":{"id":"5830e16f-5763-3cb5-9e31-609bf03c5baf","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Check Model Score","comments":""},"destination":{"id":"47913f33-6122-38ec-ba8c-5373cb41d837","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"LogAttribute","comments":""},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":568.0,"y":1032.0},{"x":568.0,"y":840.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"f621f668-8afd-3729-9812-fbb0b6b5673f","name":"","source":{"id":"5830e16f-5763-3cb5-9e31-609bf03c5baf","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Check Model Score","comments":""},"destination":{"id":"81dc4bcd-183d-3dc3-9932-660acb61f0a6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Publish to Kafka topic: fraud_suspects","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["likely_fraud"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1336.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"e0eadbc4-7c5e-3444-8dce-1a8b454e29bc","name":"lookup_failure","source":{"id":"d9a3a116-d44a-3b89-b8e8-0146c40ebdd6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Predict machine health","comments":""},"destination":{"id":"47913f33-6122-38ec-ba8c-5373cb41d837","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"LogAttribute","comments":""},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":568.0,"y":840.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"795ea62d-17be-38c2-90bf-fcbefce7db9a","name":"lookup_output","source":{"id":"d9a3a116-d44a-3b89-b8e8-0146c40ebdd6","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Predict machine health","comments":""},"destination":{"id":"5830e16f-5763-3cb5-9e31-609bf03c5baf","type":"PROCESSOR","groupId":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e","name":"Check Model Score","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d1862610-fa14-3f52-879c-8751838ccf70","name":"JsonRecordSetWriter - Use schema.name","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"3145ae33-1245-394f-acd4-e6211a3ec484","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","name":"JsonTreeReader - Use schema.name","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"3145ae33-1245-394f-acd4-e6211a3ec484","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"d5f44417-37cc-3e5d-a1ee-1140314e46ea","name":"JsonRecordSetWriter - Inherit record schema","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"transaction_flat","schema-registry":"3145ae33-1245-394f-acd4-e6211a3ec484","Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"3c5af30c-52ba-3a2d-98a1-ef957aca93e2","name":"JsonTreeReader - Inherit record schema","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"3145ae33-1245-394f-acd4-e6211a3ec484","Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"7ca44c0f-9b96-3340-8cfc-b0026b20e776","name":"RestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"rest-lookup-record-reader":"e81f1b10-42ae-375e-bb76-88ed07a5a5b1","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"#{model.endpoint.url}","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-record-path":"/","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"},{"identifier":"3145ae33-1245-394f-acd4-e6211a3ec484","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{workload.password}","ssl-context-service":"844757ac-d5f0-35a3-b81e-f0763281da0d","cache-size":"1000","kerberos-principal":"#{workload.user}","url":"#{schema.registry.url}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f57c4c6-2d60-3bae-b35e-28e13d03b25e"}],"variables":{"cdsw.access.key":"m1lmyi5qbesx1q8thkjwakco8u6fd1id","cdsw.model.api.key":"1a9c40b4326abbf3a2eeb05effde12f7f14a54280b69437dbe500548ee0bbee0.6232bb79d9820c6c6f4dadb7c66b144cc64380929c0615675eeb81acf17621fd"},"parameterContextName":"fraud_detection_params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"844757ac-d5f0-35a3-b81e-f0763281da0d":{"identifier":"844757ac-d5f0-35a3-b81e-f0763281da0d","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"fraud_detection_params":{"name":"fraud_detection_params","parameters":[{"name":"transaction_table","description":"","sensitive":false,"value":"default.transactions"},{"name":"input.host","description":"","sensitive":false,"value":"${hostname()}"},{"name":"kafka.security.protocol","description":"","sensitive":false,"value":"SASL_SSL"},{"name":"workload.password","description":"","sensitive":true},{"name":"kudu.master","description":"","sensitive":false,"value":"cdf-kudu-demo-master10.aa01-dem.a465-9q4k.cloudera.site:7051,cdf-kudu-demo-master20.aa01-dem.a465-9q4k.cloudera.site:7051,cdf-kudu-demo-master30.aa01-dem.a465-9q4k.cloudera.site:7051"},{"name":"schema.registry.url","description":"","sensitive":false,"value":"https://cdf-kafka-demo-master0.aa01-dem.a465-9q4k.cloudera.site:7790/api/v1"},{"name":"kafka.brokers","description":"","sensitive":false,"value":"cdf-kafka-demo-corebroker0.aa01-dem.a465-9q4k.cloudera.site:9093,cdf-kafka-demo-corebroker1.aa01-dem.a465-9q4k.cloudera.site:9093,cdf-kafka-demo-corebroker2.aa01-dem.a465-9q4k.cloudera.site:9093"},{"name":"kafka.sasl.mechanism","description":"","sensitive":false,"value":"PLAIN"},{"name":"input.port","description":"","sensitive":false,"value":"6900"},{"name":"schema.name","description":"","sensitive":false,"value":"transaction"},{"name":"transaction_topic","description":"","sensitive":false,"value":"transactions"},{"name":"workload.user","description":"","sensitive":false,"value":"araujo"},{"name":"model.endpoint.url","description":"","sensitive":false,"value":"http://${hostname()}:5000/model"},{"name":"fraud_topic","description":"","sensitive":false,"value":"fraud_suspects"}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}