telco-demo-tower-events.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>56038173-0183-1000-7865-0b5deec1bf67</groupId>
    <name>telco-demo-tower-events</name>
    <snippet>
        <connections>
            <id>0d362292-4190-333d-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>0d362292-4190-333d-bb2b-15587992744c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>f6a4fadd-a4a6-3a2d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6a4fadd-a4a6-3a2d-8b99-a46a1565b3ea</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>df3b88fc-764b-3387-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>df3b88fc-764b-3387-b133-5cee4b3fc619</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>27745cbe-30fc-367a-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>27745cbe-30fc-367a-aacf-b3f7865741b5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>8198d942-c91e-35d0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8198d942-c91e-35d0-8351-7cda7b611f60</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>b2a15573-a68e-3d49-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b2a15573-a68e-3d49-b4d4-71b1b85251bc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2a2cadae-2208-31b9-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>2a2cadae-2208-31b9-b73c-a4040efb54d7</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>1fc4eb6d-e1f9-3433-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1fc4eb6d-e1f9-3433-83a2-aec31262e744</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>998c7058-a5ce-3718-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>998c7058-a5ce-3718-b960-87a948ca2d01</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>37228fe3-f50e-33c9-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>37228fe3-f50e-33c9-86ef-4cab855e21ce</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>df3b88fc-764b-3387-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>df3b88fc-764b-3387-b133-5cee4b3fc619</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>b2a15573-a68e-3d49-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b2a15573-a68e-3d49-b4d4-71b1b85251bc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>41731e18-c39d-3bf9-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>41731e18-c39d-3bf9-b254-7863f90768bf</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>b081643e-32d6-3cbd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b081643e-32d6-3cbd-b8e0-e7cfc7968349</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>12a0b4b1-8e9e-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>12a0b4b1-8e9e-32f1-8253-ab54391530ed</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>950b657d-a49b-3cf5-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>950b657d-a49b-3cf5-8cb4-447cf2a3cf08</versionedComponentId>
            <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>12a0b4b1-8e9e-32f1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>12a0b4b1-8e9e-32f1-8253-ab54391530ed</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>b2a15573-a68e-3d49-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b2a15573-a68e-3d49-b4d4-71b1b85251bc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c8241e40-18ae-316b-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>c8241e40-18ae-316b-b0ef-36aaf355fdfa</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>998c7058-a5ce-3718-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>998c7058-a5ce-3718-b960-87a948ca2d01</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>8198d942-c91e-35d0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8198d942-c91e-35d0-8351-7cda7b611f60</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f1bdd295-a495-3ae0-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>f1bdd295-a495-3ae0-9b97-d50fa29a47fc</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>d001a943-f53b-3c33-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d001a943-f53b-3c33-aa5a-9773074a1fe1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>b2a15573-a68e-3d49-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b2a15573-a68e-3d49-b4d4-71b1b85251bc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fb03c251-5d8c-3848-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>fb03c251-5d8c-3848-9c38-efe0be6a8c93</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>1fc4eb6d-e1f9-3433-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1fc4eb6d-e1f9-3433-83a2-aec31262e744</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>d1625404-31a4-352d-0000-000000000000</groupId>
                <id>f6a4fadd-a4a6-3a2d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6a4fadd-a4a6-3a2d-8b99-a46a1565b3ea</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>6434578a-c8ad-36df-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>6434578a-c8ad-36df-bd2a-5406be767221</versionedComponentId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>Default NiFi SSL Context Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>6c940e8a-3e30-3c64-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>6c940e8a-3e30-3c64-ab82-c74eaa815ea3</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{
 &quot;namespace&quot;: &quot;example.avro&quot;,
 &quot;type&quot;: &quot;record&quot;,
 &quot;name&quot;: &quot;weblogs&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;event_id&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;imsi&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;start_time&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;up_time&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;cell&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;disconnect&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;drop_call&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;radio&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;mmc&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;net&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;area&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;long&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;lat&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;ingestion_dt&quot;,
   &quot;type&quot;: &quot;string&quot;
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>922151fb-32d7-3b02-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>922151fb-32d7-3b02-a114-64c11d34077e</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>841e2723-7b10-3997-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{
 &quot;namespace&quot;: &quot;example.avro&quot;,
 &quot;type&quot;: &quot;record&quot;,
 &quot;name&quot;: &quot;weblogs&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;event_id&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;imsi&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;start_time&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;up_time&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;cell&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;disconnect&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;drop_call&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;radio&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;mmc&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;net&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;area&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;long&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;lat&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;ingestion_dt&quot;,
   &quot;type&quot;: &quot;string&quot;
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>c7a5a9bd-0665-3129-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>c7a5a9bd-0665-3129-9b5f-ff2741c5f0c6</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>avro-embedded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>e3831836-dd63-31b6-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <versionedComponentId>e3831836-dd63-31b6-986e-29244094e7ac</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processors>
            <id>12a0b4b1-8e9e-32f1-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>392.0</y>
            </position>
            <versionedComponentId>12a0b4b1-8e9e-32f1-8253-ab54391530ed</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>922151fb-32d7-3b02-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>6c940e8a-3e30-3c64-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>1000000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>5 minutes</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
        <processors>
            <id>1fc4eb6d-e1f9-3433-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>1680.0</x>
                <y>312.0</y>
            </position>
            <versionedComponentId>1fc4eb6d-e1f9-3433-83a2-aec31262e744</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>8198d942-c91e-35d0-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>600.0</x>
                <y>200.0</y>
            </position>
            <versionedComponentId>8198d942-c91e-35d0-8351-7cda7b611f60</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>922151fb-32d7-3b02-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>e3831836-dd63-31b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>998c7058-a5ce-3718-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>1080.0</x>
                <y>216.0</y>
            </position>
            <versionedComponentId>998c7058-a5ce-3718-b960-87a948ca2d01</versionedComponentId>
            <bundle>
                <artifact>nifi-cdf-kafka-2-nar</artifact>
                <group>com.cloudera</group>
                <version>1.0.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-transactions</propertyName>
                            </dependencies>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>
                            <name>interceptor.classes</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>telco-demo-streams-messaging-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>telco_tower_events_json</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_SSL</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>frothkoetter</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>6434578a-c8ad-36df-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka2CDP_JSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka2CDP</type>
        </processors>
        <processors>
            <id>b081643e-32d6-3cbd-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>640.0</y>
            </position>
            <versionedComponentId>b081643e-32d6-3cbd-b8e0-e7cfc7968349</versionedComponentId>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>${filename}</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>goes-se-sandbox01/telco-demo/tower-events-csv</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-east-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutS3Object</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>b2a15573-a68e-3d49-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>b2a15573-a68e-3d49-b4d4-71b1b85251bc</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Local Network Interface</key>
                        <value>
                            <name>Local Network Interface</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>
                            <name>Receive Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>
                            <name>Max Size of Message Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>
                            <name>Max Size of Socket Buffer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Number of TCP Connections</key>
                        <value>
                            <name>Max Number of TCP Connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Batch Size</key>
                        <value>
                            <name>Max Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>
                            <name>Message Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-receiving-threads</key>
                        <value>
                            <name>max-receiving-threads</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pool-receive-buffers</key>
                        <value>
                            <name>pool-receive-buffers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>
                            <name>Client Auth</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Local Network Interface</key>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>31888</value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>65507 B</value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Max Number of TCP Connections</key>
                        <value>2</value>
                    </entry>
                    <entry>
                        <key>Max Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>\n</value>
                    </entry>
                    <entry>
                        <key>max-receiving-threads</key>
                    </entry>
                    <entry>
                        <key>pool-receive-buffers</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListenTCP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenTCP</type>
        </processors>
        <processors>
            <id>d001a943-f53b-3c33-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>d001a943-f53b-3c33-aa5a-9773074a1fe1</versionedComponentId>
            <bundle>
                <artifact>nifi-cdf-kafka-2-nar</artifact>
                <group>com.cloudera</group>
                <version>1.0.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-transactions</propertyName>
                            </dependencies>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>
                            <name>interceptor.classes</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>telco-demo-streams-messaging-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>telco-tower-events</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_SSL</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>frothkoetter</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>6434578a-c8ad-36df-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka2CDP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka2CDP</type>
        </processors>
        <processors>
            <id>df3b88fc-764b-3387-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>600.0</x>
                <y>424.0</y>
            </position>
            <versionedComponentId>df3b88fc-764b-3387-b133-5cee4b3fc619</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>922151fb-32d7-3b02-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>c7a5a9bd-0665-3129-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>f6a4fadd-a4a6-3a2d-0000-000000000000</id>
            <parentGroupId>d1625404-31a4-352d-0000-000000000000</parentGroupId>
            <position>
                <x>1080.0</x>
                <y>416.0</y>
            </position>
            <versionedComponentId>f6a4fadd-a4a6-3a2d-8b99-a46a1565b3ea</versionedComponentId>
            <bundle>
                <artifact>nifi-cdf-kafka-2-nar</artifact>
                <group>com.cloudera</group>
                <version>1.0.0.2.2.5.2-1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-transactions</propertyName>
                            </dependencies>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>
                            <name>interceptor.classes</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>telco-demo-streams-messaging-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>tower_events_avro</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_SSL</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>frothkoetter</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>6434578a-c8ad-36df-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>interceptor.classes</key>
                        <value>com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka2CDP_AVRO</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka2CDP</type>
        </processors>
    </snippet>
    <timestamp>09/23/2022 05:40:28 UTC</timestamp>
</template>